.privacy{
  h2 {
    color: #003448;
    font-size: 20px;
    margin-bottom: 28px;
  }

  h3 {
    font-size: 14px;
    padding-top: 24px;
    margin-bottom: 4px;
  }

  h4 {
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 4px;
  }

  h5 {
    font-size: 14px;
  }

  p {
    color: #003448;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
  }

  ol {
    li {
      font-size: 14px;
    }
  }

  .main-container{
    padding-top: 36px;
    margin: auto 36px;
  }
}
