.inline-block{
  display: inline-block;
}

.header {
  background-color: #ff9500;
  color: #fff;
  display: flex;

  h1.header-logo {
    padding: 14px 8px 14px 32px;
    text-align: center;
    margin: auto;
    font-size: 13px;
    font-weight: bold;

    img {
      width: 155px;
      height: 90px;
      object-fit: cover;
      margin: 7px auto 0;
    }
  }


  nav.header-nav {
    display: flex;
    flex: 1;
  }

  ul.header-nav__hover {
    display: none;
  }

  ul.header-nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    li {
      font-size: 14px;
      width: 20%;
      text-align: center;
    }
  }
}
