p{
  font-size: 14px;
  span{
    font-weight: bold;
    color: red;
  }
}

.parallax-window {
     min-height: 800px;
     background: transparent;
}

.parallax-slider {
     top: 0;
     left: 0;
}
